<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
		<link rel="stylesheet" type="text/css" href="/public/css/main.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<title>Pokemon Teambuilder</title>
	</head>
	<body>
		<h1 id="header">Pokemon Team Builder</h1>
		<div class = "nav">
			<ul id="navbar">
				<li><a href="/">Home</a></li>
				<li><a href="/popular">Most Popular</a></li>
				<li><a href="/monotype">Monotype Teams</a></li>
				<li><a href="/speedy">Fast Teams</a></li>
				<li><a href="/noevos">Teams Without Evolutions</a></li>
				<li><a href="/random">Random Team</a></li>
				<li><a href="/create">Create New Team</a></li>
			</ul>
		</div>

		{{{body}}}

	</body>
</html>

